.select {
  width: 100vw;
  max-width: 229px;
  height: 40px; 
  padding-bottom: 20px;
  margin: 15px 0;
  
}

.MuiInputLabel-outlined {
    z-index: 1;
    transform: translate(14px, 29px) scale(1);
    pointer-events: none;
}
