.inputs {
    /* width: 100%; */
    width: 250px;
    height: 40px;
}

.reset {
    width: 100px;
    margin: auto;
    height: 40px;
    /* transform: translateY() */
}
.marginButton {
    margin: 15px 15px 15px 0px;
}